extends layout

block content
  h1 #{title}
  form(method='POST', action='/articles/add')
    #form-group 
      label First Name:
      input.form-control(name='f_name',type='text')
    #form-group 
      label Last Name:
      input.form-control(name='l_name',type='text')
    #form-group 
      label Drop your Message Here:
      textarea.form-control(name='body')
    input.btn.btn-primary(type='submit', value='Submit')
      
    
      
